<!--
        passwords/template/passwords/password_url_detail.html

-->

{% extends 'base.html' %}
{% block content %}
<h3>Passwords for {{ password_url.web_url }} </h3>
<form action="{% url 'password_entry_create' password_url.id %}">
    <input type="submit" value="Create Entry" />
</form>
<table style="border-spacing: 10px;">

    <tr>
        <th>User ID</th>
        <th>Password</th>
        <th>Note</th>
    </tr>
    {% for entries in password_entries %}
        <tr>
            <td>{{ entries.userid_for_password }}</td>
            <td>{{ entries.password }}</td>
            <td>{{ entries.note }}</td>
            <td>
                <form action="{% url 'password_entry_update' entries.id %}">
                    <input type="submit" value="Update Entry" />
                </form>
            </td>
            <td>
                <form action="{% url 'password_entry_delete' entries.id %}">
                    <input type="submit" value="Delete Entry" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}