<!--
    passwords/template/passwords/password_url_list.html
-->

{% extends 'base.html' %}

{% block content %}
<h1>Password URLs</h1>
<table style="border-spacing: 10px;">
  <thead>
    <tr>
      <th>No.</th>
      <th>Web URL</th>
    </tr>
  </thead>
  <tbody>
    {% for password_url in password_urls %}
    <tr>
      <td>{{ password_url.id }}</td>
      <td><a href="{% url 'password_url_detail' password_url.id %}">{{ password_url.web_url }}</a></td>
      <td>
        <form action="{% url 'password_url_delete' password_url.id %}" onsubmit="return CheckError()">
          {% if error_message %}
            <input type="hidden" id="error_message" value="{{ error_message }}">
          {% endif %}
            <input type="submit" value="Delete" />
        </form>
        <script>
          function CheckError(){
            var error_message = document.getElementById("error_message");
            if (error_message){
              alert(error_message.value);
              return false;
            }
            return true;
          }
        </script>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}